# Aito predictive database connection
# Get your credentials at https://aito.ai
AITO_API_URL=https://shared.aito.ai/db/aito-accounting-demo
AITO_API_KEY=82f8b742c58d24b317da09780e41d2dab3b03e48c747c9016c60b883f606b8ba
